.btn{
    background-color: rgb(12, 157, 12);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
}

.btn:hover {
    background-color: darkblue;
}

.explore{
    background-color: rgb(12, 157, 12);
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 8px;
}


.page-container {
  max-width: 960px;
  /* Max width for content to prevent it from stretching too wide */
  height: 500px;
  margin: 20px auto;
  /* Center the content with some top/bottom margin */
  padding: 20px;
  background-color: #FFFFFF;
  /* White background for page content */
  border-radius: 8px;
  /* Slightly rounded corners */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  /* Subtle shadow */
}

.animate-fade-in-up {
  animation: fadeInUptoBottom 1s ease-out forwards;
  /* 1s duration, smooth ease-out, stays at end state */
  /* You might want to add animation-delay if multiple elements animate in sequence */
}