.hero-section{
    color: white;
    text-align: center;
    margin: auto;
    background-image: url("https://vck-ojt.vercel.app/assets/college-banner-Cz0xylpt.png");
    width: 882px;
    size: 350%;
}

.image-row img{
     width: 200px;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.image-row img:hover,
.image-row img:active {
    transform: scale(1.1); /* makes the image pop */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* adds soft shadow */
}

